*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Labrada', serif;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    outline: none;
}
:root{
    --bg-color: #131313;
    --text-color: #fff:
    --second-bg-color: #323946;
    --main-color: #ff0000;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: #131313;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
}

/* Navbar */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 10% 0.1%;
    background: #131313;
    margin: auto;
    justify-content: space-between;
    z-index: 100;
    display: flex;
    align-items: center;
}
.logo{
    opacity: 0;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
    animation: slideRight 2s ease forwards;
}
.navbar a{
    display: inline-block;
    opacity: 0;
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    font-size: 13px;
    margin-bottom: 10px;
    animation: slideBottom .3s ease forwards;
    animation-delay: calc(.3s * var(--rs));
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .2s;
    list-style: none;
}
.navbar a.buttom{
    background: red;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 0 0 10px red;
    padding: 10px 20px;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 500;
    margin-left: 80px;
}
.navbar a.buttom:hover{
    border: 1px solid white;
    color: red;
    transition: .4s;
    background: rgb(255, 255, 255);
    text-decoration: none;
    box-shadow: 0 0 10px white;
}
.navbar a:hover,
.navbar a.active{
    color: red;
}

/* Home */
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    color: #ffffff;
}
.home-content{
    max-width: 600;
}
.home-content h6{
    font-size: 15px;
    font-weight: 400;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
    color: rgb(255, 255, 255);
    margin-top: 150px;
    opacity: 0;
    margin-bottom: 25px;
}
.home-content h1{
    font-size: 55px;
    line-height: 1;
    color: rgb(255, 255, 255);
    margin: 5px 0px 28px;
    opacity: 0;
    font-family: 'Labrada', serif;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}
.home-content h3{
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    opacity: 0;
    margin-bottom: -7px;
    color: rgb(255, 255, 255);
}
.home-content h3:nth-of-type(2){
    margin-bottom: 10px;
    animation: slideTop 1s ease forwards;
    animation-delay: .1s;
}
.home-content h3 span{
    color: #ff0000;
}
.home-content p{
    max-width: 100%;
    width: 400px;
    opacity: 0;
    color: rgb(255, 255, 255);
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 30px;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
}
.home-content a{
    display: inline-block;
    text-decoration: none;
    color: red;
    background: white;
    padding: 9px 25px;
    line-height: 1.4;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.3s * var(--rs));
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    border: -0px solid;
}
.home-content a.btn{
    border: -0px solid red;
    color: white;
    background: rgb(255, 0, 0);
    margin-left: 35px;
    margin-top: 5px;
    box-shadow: 0 0 10px red;
    letter-spacing: 1px;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.3s * var(--rs));
    opacity: 0;
    font-weight: 600;
}
.home-content a.btn:hover{
    transition: .4s;
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #ff0000;
    box-shadow: 0 0 10px #ffffff;
}
.social-media a{
    display: inline-flex;
    color: red;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.2s * var(--rs));
    width: 40px;
    height: 40px;
    opacity: 0;
    background: transparent;
    text-decoration: none;
    justify-content: right;
    align-items: center;
    margin: 80px -20px 90px 0;
    font-size: 20px;
}
.home .social-media a:hover{
    transform: scale(1.2);
    transition: .4s;
    color: white;
}
.home-img img{
    max-width: 400px;
    opacity: 0;
    margin-bottom: 5px;
    margin-right: -20px;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

/* About Me */
.about{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    color: #ffffff;
    background: #222222;
}
.about-img img{
    max-width: 400px;
    opacity: 0;
    margin-bottom: 50px;
    margin-left: -20px;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
.about-content{
    margin-left: 40px;
    margin-top: -65px;
}
.about-content h2{
    font-size: 45px;
    font-weight: 600;
    margin-top: 25px;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    opacity: 0;
    margin-bottom: -7px;
    color: rgb(255, 255, 255);
}
.about-content h2:nth-of-type(2){
    margin-bottom: 10px;
    animation: slideTop 1s ease forwards;
    animation-delay: .1s;
}
.about-content h2 span{
    color: #ff0000;
}
.about-content h3{
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    opacity: 0;
    margin-bottom: -7px;
    color: rgb(255, 255, 255);
}
.about-content p{
    margin: 2rem 0 3rem;
    max-width: 90%;
    opacity: 0;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-size: 15px;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
}
.about-content a{
    display: inline-block;
    text-decoration: none;
    color: red;
    background: white;
    padding: 9px 25px;
    line-height: 1.4;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.3s * var(--rs));
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    border: -0px solid;
}
.about-content a.btn{
    border: -0px solid red;
    color: white;
    background: rgb(255, 0, 0);
    margin-left: 0;
    margin-top: 5px;
    box-shadow: 0 0 10px red;
    letter-spacing: 1px;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.3s * var(--rs));
    opacity: 0;
    font-weight: 600;
}
.about-content a.btn:hover{
    transition: .4s;
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #ff0000;
    box-shadow: 0 0 10px #ffffff;
}

/* Skills Info */
.skills{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 1000px;
    height: auto;
    backdrop-filter: blur(60px);
    padding: 60px;
    border-radius: 50px;
    box-shadow: 1px 0px 40px red;
    margin-top: 50px;
}
.container .skill-head{
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
}
.skill-head h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.skill-head h2 span{
    color: #ff0000;
}
.skill-head p{
    opacity: .8;
    font-size: 15px;
    font-weight: 500;
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 38px;
    grid-column-gap: 60px;
}
.skill-bar .skill-info{
    align-items: center;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.skill-bar .skill-info p{
    font-size: 15px;
    opacity: .8;
    font-weight: 500;
}
.skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(128, 0, 0, 0.507);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
    box-shadow: 0 0 10px red;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 25px;
    background: linear-gradient(to right, rgb(158, 158, 158) 0%, #ff0000 100%);
}
.skill-bar .bar .game{
    width: 40%;
    animation: game 3s;
}
.skill-bar .bar .mod{
    width: 80%;
    animation: mod 3s;
}
.skill-bar .bar .guitarist{
    width: 50%;
    animation: guitarist 3s;
}
.skill-bar .bar .design{
    width: 80%;
    animation: design 3s;
}
.skill-bar .bar .html{
    width: 40%;
    animation: html 3s;
}
.skill-bar .bar .css{
    width: 50%;
    animation: css 3s;
}
.skill-bar .bar .php{
    width: 35%;
    animation: php 3s;
}
.skill-bar .bar .javascript{
    width: 35%;
    animation: javascript 3s;
}

/* Project */
.project{
    background: #222222;
    width: 100%;
    height: 133vh;
}
.project h2{
    margin-bottom: 1.3rem;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 700;
    margin-top: 5rem
}
.project p{
    opacity: .8;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5rem;
}
.project h2 span{
    color: #ff0000;
}
.project-cotainer{
    align-items: center;
    gap: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.project-cotainer .project-box{
    position: relative;
    display: flex;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 255);
    overflow: hidden;
    border-radius: 2rem;
    width: 80%;
    margin: 5px 10%;
}
.project-box img{
    width: 100%;
    transition: .4s ease;
}
.project-box:hover img{
    transform: scale(1.1);
}
.project-box .project-layer{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0 4rem;
    transform: translateY(130%);
    transition: .4s ease;
    background: linear-gradient(rgba(0, 0, 0, .1), #800000);
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 0;
    bottom: 0;
}
.project-box:hover .project-layer{
    transform: translateY(0);
}
.project-layer h4{
    font-size: 1.8rem;
}
.project-layer p{
    font-size: 1rem;
    margin: .3rem 0 1rem;
}
.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    color: #131313;
    border-radius: 50%;
    background: #ffffffc2;
}
.project-layer a i{
    color: #222222;
    font-size: 2rem;
}

/* Services */
.services{
    display: flex;
    font-family: 'Labrada', serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 100px;
    color: #bebcbc;
}
.services h1{
    font-size: 5em;
    margin: 20px 0;
    text-align: center;
    font-weight: 700;
}
.services p{
    font-size: 15px;
    text-align: center;
    font-weight: 300;
}
.services h1 span{
    color: #ff0000;
}
.service-box{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.service-card{
    display: flex;
    width: 320px;
    padding: 30px;
    transition: .4s;
    border-radius: 10px;
    min-height: 220px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #800000;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 255);
    margin: 10px 4px 10px;
}
.service-card i{
    color: #000000;
    font-size: 50px;
    margin: 20px;
}
.service-card h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 1000;
    color: #ffffff;
}
.service-card p{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}
.service-card:hover{
    background: #ffffff;
}
.service-card:hover i{
    color: maroon;
}
.service-card:hover h2{
    color: #000000;
}
.service-card:hover p{
    font-weight: 500;
    color: #000000;
}

/* Contact */
.cont-container{
    position: relative;
    display: flex;
    width: 77%;
    max-width: 1100px;
    margin: 140px;
    height: 600px;
    background: #222222;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.cont-container .fromBx{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-container .fromBx form{
    position: relative;
    width: 100%;
    padding: 0 0 0 75px;
}
.cont-container .fromBx form h2{
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 80px;
}
.cont-container .fromBx form h2 span{
    color: #ff0000;
}
.cont-container .fromBx form .inputbox{
    position: relative;
    margin-bottom: 40px;
}
.cont-container .fromBx form .inputbox:last-child{
    margin-bottom: 0px;
}
.cont-container .fromBx form .inputbox input,
.cont-container .fromBx form .inputbox textarea{
    position: relative;
    background: transparent;
    outline: none;
    width: 100%;
    border: none;
    color: #fff;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    resize: none;
    padding: 10px 25px;
}
.cont-container .fromBx form .inputbox textarea{
    height: 100px;
}
.cont-container .fromBx form .inputbox input.btn{
    border: -0px solid red;
    color: white;
    border-radius: 20px;
    background: rgb(255, 0, 0);
    margin-left: 0;
    width: 35%;
    margin-top: 5px;
    box-shadow: 0 0 10px red;
    letter-spacing: 1px;
    animation: zoomIn 1s ease forwards;
    animation-delay: calc(.3s * var(--rs));
    opacity: 0;
    font-weight: 600;
}
.cont-container .fromBx form .inputbox input.btn:hover{
    transition: .4s;
    background: #ffffff;
    border: -0px solid #ffffff;
    color: #ff0000;
    box-shadow: 0 0 10px #ffffff;
}
.cont-container .fromBx form .inputbox input.btn:focus{
    background: #000000;
    color: #ff0000;
    box-shadow: 0 0 10px #000000;
    border: 1px solid #ff0000;
}
.cont-container .fromBx form .inputbox span{
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.884);
    transition: all 0.2%;
}
.cont-container .fromBx form .inputbox input:focus,
.cont-container .fromBx form .inputbox textarea:focus,
.cont-container .fromBx form .inputbox input:valid,
.cont-container .fromBx form .inputbox textarea:valid{
    border-bottom-color: #ff0000;
}

.cont-container .fromBx form .inputbox input:focus ~ span,
.cont-container .fromBx form .inputbox textarea:focus ~ span,
.cont-container .fromBx form .inputbox input:valid ~ span,
.cont-container .fromBx form .inputbox textarea:valid ~ span{
    transform: translateY(-24px);
    color: #ff0000;
    font-size: 16px;
    font-weight: 700;
}
.cont-container .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    left: 30px;
    border-radius: 20px;
}
.cont-container .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0000;
    transform-origin: bottom;
    transform: skew(-25deg) translateX(10%);
}
.cont-container .imgBx img{
    position: absolute;
    bottom: 0;
    max-height: 95%;
}

/* Animation */
@keyframes game{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes mod{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes guitarist{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes design{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 35%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 35%;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

/* Copyright */
footer[data-v-6661]{
    bottom: 0;
    position: relative;
    margin: auto 50% auto 2.%;
    z-index: 101;
    width: 100%;
    height: 90px;
    color: #ff0000;
    font-weight: bold;
    font-family: -12px/-90px 'Labrada', serif;
    text-align: center;
    font-size: 14px;
}
::after, ::before{
    -webkit-animation: none .5s 0s 1 normal none running;
    animation: none .5s 0s 1 normal none running;
    transition: none .5s cubic-bezier(.4,0,.2,1) 0s;
    box-sizing: border-box;
    margin: 0;
    border-width: 0;
    padding: 0;
    color: inherit;
    font: inherit;
}
footer[data-v-6661]::before{
    background: url("https://blogger.googleusercontent.com/img/a/AVvXsEi4gceOslGO-VzzetAIh4LEZakxn5zqkwQYME6fs2NIFoSIFX5UjbMoN2iUX7mC0UqruS7BfWrOWZJdL2hGOjuI1seMR0E1qJFV6YzoiDn89eItqcTXmcF38tkwFkFqAkQ7H5ds89DFvD558Gb1qazzS8X-FBDINQ27iBfgcNWkBOkdBeb8rD79p9hi=s163") no-repeat 0 0;
    width: 163px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 2px 0 0;
    content: "";
}

/* Responsive */
@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2 rem;
    }
    .services{
        padding: 25px;
    }
    .services h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .service-box{
        flex-direction: column;
        width: 100%
    }
    .service-card{
        min-width: 300px;
        margin: 10px auto;
    }
    .cont-container .fromBx{
        width: 100%;
        padding: 0 50px;
    }
    .cont-container .fromBx form{
        position: relative;
        width: 100%;
        max-width: 500px;
        padding: 0;
    }
    .cont-container .imgBx{
        display: none;
    }
}